@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Averia Serif Libre', serif;
}

/* Navbar */
.navbar {
    & img[alt='logo'] {
        width: 5rem;
    }
}

/* display -> grid */
:is(body, .card) { 
    display: grid;
}

/* Number of rows */
:is(body) {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

/* text-align: center */
:is(h2, footer p) {
    text-align: center;
}  

.hero {
    background-image: url('https://github.com/Kifaa26/images-js/blob/main/d5c1d57184e6b43e65206679b10c1970.jpg?raw=true');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
  }
  
  .promo {
    background-image: url('https://github.com/Kifaa26/images-js/blob/main/af3cb50cec2b80f41ac063b5b33f651e.jpg?raw=true');
    background-size: cover;
    background-position: center;
  }
  
  .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 2px solid #5e6469;
      border-radius: 10px; 
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    
    .card-img-top {
      height: 300px;
      object-fit: cover; 
      border-bottom: 2px solid #fcfeff;
    }
    
    .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .card-title, .card-text {
      margin-bottom: 0;
    }
  
    .featured-products h2,
  .featured-products h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .featured-products h2 {
    border-bottom: 2px solid #343a40;
    padding-bottom: 0.5rem;
  }
  
  .featured-products h3 {
    border-bottom: 1px solid #7a8b9c;
    padding-bottom: 0.25rem;
  }

  .about-section {
    background-color: #ffffff; 
    padding: 50px 20px; 
}

.about-content {
    padding-right: 20px; 
}

.about-image {
    text-align: center; 
}

.about-image{
    width: 100%;
    height: 50%; 
    border-radius: none;
    margin: 0 auto; 
    scale: 0.1;
}


#contact {
  color: #020202;
  font-family: 'Averia Serif Libre', serif;
}

.contact-form-container{
   background-color: #020202;
   padding: 20px;
   border-radius: 10px;
}

.contact-image {
  width: 100%;
  height: auto;
  border: none;
}

.custom-submit-button {
  background-color: teal;
  color: white;
  border: none;
}

.custom-submit-button:hover {
  background-color: #38556d;
}

.form-label {
  color: rgb(7, 7, 7);
}

.social-icons a {
  font-size: 1.5rem;
  color: #fffefe 0.3s;
}

.social-icons a:hover{
  color:#ffffff
}

.social-icons p {
  margin-bottom: 10px;
}

.search-button {
  background-color: #457a9c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #38556d;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}


